<%= render "shared/second-header"%>


<%= form_with model: @user, url: user_registration_path, method: :update, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        Edit Profile
      </h1>
    </div>

    
  <%= render "shared/error_messages", model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">
        <span class='not-nil'>*</span> NickName
        </label>
      </div>
      <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例) animalくん", maxlength:"20" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">
        <span class='not-nil'>*</span> Email
        </label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>



    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">
        <span class='not-nil'>*</span> Gender
        </label>
      </div>
      <div class='gender-form'>
        <%= f.collection_radio_buttons(:gender_id, Gender.all, :id, :name, {}, {class:"gender-select"}) %>
      </div>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">
        <span class='not-nil'>*</span> Birthday
        </label>
      </div>
      <div class='input-birth-wrap'>
        <%= raw sprintf(
                    f.date_select(
                      :birthday,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">
        Have pets?
        </label>
      </div>
      <div class='have-pet-form'>
        <%= f.collection_radio_buttons(:have_pet_id, HavePet.all, :id, :name, {}, {class:"have-pet-select"}) %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">
        Profile (最大200文字)
        </label>
      </div>
      <%= f.text_area :profile, class:"profile-text", id:"profile", placeholder:"例) 初めまして。よろしくお願いします。", maxlength:"400" %>
    </div>

    <div class='register-btn'>
      <p class='enter-btn'>
        <%= image_submit_tag("enter_btn3.png", class:"btn") %>
      </p>
    </div>
  </div>
<% end %>

<%= render "shared/footer" %>
