<%= render "shared/header" %>
<div class='main'>
  <% if user_signed_in? %>
    <div class='side-bar-area'>
      <%= render "shared/side_bar" %>
    </div>
  <% end %>
  <%# 画面上部通知部分 %>
  <div class='main-area'>
    <div class='notices-contents'>
      <p class='date'>
        <%= require 'date'
            date = DateTime.now # 現在のDateTimeオブジェクトを取得
            p date.strftime("%Y年%m月%d日") %>
      </p>
      <div class='notices-box'>

        <% Task.all.each do |task| %>
          <% if task.user_id == current_user.id %>
            <% if task.notice_id == 1 %>
              <div class='top-notice'>
              <% if task.task_type_id == 1 %>
                <%= task.title + 'まで' + "#{ (task.start_time.to_date - Date.current).to_i}" + '日です' %>
              <% else %>
                <%= task.title + 'から' + "#{ (task.start_time.to_date - Date.current).to_i}" + '日です' %>
              <% end %>
              </div>

            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
    <%# 画面上部通知部分 %>

    <%# 投稿記事表示部分 %>
    <div class='main-contents'>
      <div class='main-page'>
        <div class='all-articles'>
          all articles

          <ul class='article-lists'>

            <% @articles.order('created_at DESC').each do |article| %>
              <% if article.publishing_setting_id == 1 %>
                <li class='list'>
                  <%# <%= link_to item_path(item.id) do %> 
                  <%= link_to article_path(article.id), class: "article-content" do %>
                    <div class='article-img-content'>
                      <%# <% if article.image == nil %>
                      <%# <%= image_tag 'app/asset/images/animal.jpg', class: "item-img" %>
                      <%# <% else %>
                        <%= image_tag article.image, class: "article-img" %>
                      <%# <% end %>
                    </div>
                    <div class='article-info'>
                      <h3 class='article-name'>
                        <%= article.title %>
                      </h3>
                      <div class='user-nickname'>
                        <span><%= article.user.nickname %></span>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>

        </div>
        <div class='mostlike-articles'>
          most like articles
        </div>
        <div class='favorite-articles'>
          my favorite articles
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
