<header class='top-page-header'>
  <div class='logo-contents'>
    <%= link_to image_tag("animalink_logo.png", class:"logo"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <%# <% if user_signed_in? %>
        <li><%= link_to 'User', "#", class: "user-nickname" %> </li>
        <li><%= link_to 'LogOut', "#", class: "logout" %></li>
      <%# <% else %>
        <li><%= link_to 'LogIn', "#", class: "login" %></li>
        <li><%= link_to 'SignUp', "#", class: "sign-up" %></li>
      <%# <% end %>
    </ul>
  </div>
</header>