<header class='top-page-header'>
  <div class='logo-contents'>
    <%= link_to image_tag("animalink_logo.png", class:"logo"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to 'LogOut', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" %> </li>
      <% else %>
        <li><%= link_to 'SignUp', new_user_registration_path, class: "sign-up" %></li>
        <li><%= link_to 'LogIn', new_user_session_path, class: "login" %></li>
      <% end %>
    </ul>
  </div>
</header>