    <div class='side-bar'>
      <%# <div class='menu-content'>
        <%= link_to image_tag("menu.png", class:"menu-button"), "#" %>
      <%# </div> %>
      <div class='all-menu'>
        <div class='welcom-user'>
          <p>Welcome!!</p>
          <p><%= link_to current_user.nickname, user_path(@user), class: "menu-user-nickname" %></p>
        </div>
        <ul class='follow-contents'>
          <li class='follow'>
            Follow()
          </li>
          <li class='follower'>
            Follower()
          </li>
        </ul>
        <ul class='contents-menu'>
          <li><%= link_to 'TopPage', "#", class: "menu-toppage" %> </li>
          <li><%= link_to 'NewArticle', new_article_path, class: "menu-newarticle" %> </li>
          <li><%= link_to 'Calendar', "#", class: "menu-calendar" %> </li>
          <li><%= link_to 'Search', "#", class: "menu-search" %> </li>
          <li><%= link_to 'Favorite', "#", class: "menu-favorite" %> </li>
        </ul>
      </div>


    </div>