    <div class='side-bar'>
      <div class='menu-content'>
        <%= link_to image_tag("menu.png", class:"menu-button"), "#" %>
      </div>
      <div class='welcom-user'>
        <p>ようこそ！</p>
        <p><%= link_to 'ユーザー名', "#", class: "menu-user-nickname" %>さん</p>
      </div>
      <ul class='follow-contents'>
        <li class='follow'>
          フォロー〇〇人
        </li>
        <li class='follower'>
          フォロワー〇〇人
        </li>
      </ul>
      <ul class='contents-menu'>
        <li><%= link_to 'トップページ', "#", class: "menu-toppage" %> </li>
        <li><%= link_to 'カレンダー', "#", class: "menu-calendar" %> </li>
        <li><%= link_to '繋がりを探す', "#", class: "menu-serch" %> </li>
        <li><%= link_to 'お気に入り投稿', "#", class: "menu-favorite" %> </li>
      </ul>


    </div>